# vim:set ts=8 sts=2 sw=2 tw=0:
# vim:set ft=sh:

# Go
export GO15VENDOREXPERIMENT=1

## Launch mode (MUST change when release)
export BREAK_MODE="debug"
#export BREAK_MODE="test"
#export BREAK_MODE="release"

# PATH
export BREAK_ROOT="$GOPATH/src/github.com/gotokatsuya/break"
